<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.11.3, 1.10.2 - 1.10.*, 1.9.9 - 1.9.*</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.RegistrationCoreActivator</activator>
    <require_modules>
		<require_module version="${idgenVersion}">
			org.openmrs.module.idgen
		</require_module>
        <require_module version="${eventVersion}">
            org.openmrs.event
        </require_module>
		<require_module version="${xdsSenderVersion}">
			org.openmrs.module.xdssender
		</require_module>
    </require_modules>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.registrationcore.extension.html.AdminList</class>
	</extension>
    
    <aware_of_modules>
       <aware_of_module version="${namephoneticsVersion}">org.openmrs.module.namephonetics</aware_of_module>
       <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<!-- Global properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.identifierSourceId</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the identifier source to use when generating patient identifiers
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.givenNameAutoSuggestList</property>
		<defaultValue></defaultValue>
		<description>
			A comma separated list of common names to auto suggest for the given name field, when registering patients.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.familyNameAutoSuggestList</property>
		<defaultValue></defaultValue>
		<description>
			A comma separated list of common names to auto suggest for the family name field, when registering patients.
		</description>
	</globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.patientNameSearch</property>
        <defaultValue>registrationcore.BasicPatientNameSearch</defaultValue>
        <description>
            Specifies a bean used for the auto suggest name feature.
        </description>
    </globalProperty>
    
    <globalProperty>
        <property>${project.parent.artifactId}.fastSimilarPatientSearchAlgorithm</property>
        <defaultValue>registrationcore.BasicSimilarPatientSearchAlgorithm</defaultValue>
        <description>
            Specifies a bean used for the fast similar patient search algorithm.
        </description>
    </globalProperty>
    
    <globalProperty>
        <property>${project.parent.artifactId}.preciseSimilarPatientSearchAlgorithm</property>
        <defaultValue>registrationcore.BasicExactPatientSearchAlgorithm</defaultValue>
        <description>
            Specifies a bean used for the precise similar patient search algorithm.
        </description>
    </globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.openempi.globalIdentifierDomainId</property>
		<defaultValue></defaultValue>
		<description>
			Specifies main identifier on MPI server (e.g. "xyz" for OpenEMPI)
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.implementation</property>
		<defaultValue>registrationcore.mpi.implementation.PixPdq</defaultValue>
		<description>
			Which MPI to should we connect to? Specify a Spring bean name, or leave blank to disable MPI integration
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.url</property>
		<defaultValue></defaultValue>
		<description>
			Specifies url to MPI server
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.username</property>
		<defaultValue>admin</defaultValue>
		<description>
			Specifies username for authentication to MPI server
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.password</property>
		<defaultValue>admin</defaultValue>
		<description>
			Specifies password for authentication to MPI server
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.openempi.enableProbabilisticMatching</property>
		<defaultValue>false</defaultValue>
		<description>
			Specifies if probably matching should be used
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.personIdentifierTypeUuid</property>
		<defaultValue></defaultValue>
		<description>
			Specifies UUID of the identifier type that the MPI generates and is persisted in OpenMRS
		</description>
	</globalProperty>

<!--	CCSY EDITED
	<globalProperty>
		<property>${project.parent.artifactId}.biometrics.personIdentifierTypeUuid</property>
		<defaultValue></defaultValue>
		<description>
			Specifies UUID of the identifier type that is used to store the biometric reference code
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.biometrics.nationalPersonIdentifierTypeUuid</property>
		<defaultValue></defaultValue>
		<description>
			Specifies UUID of the identifier type that is used to store the national biometric reference code
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.biometrics.implementation</property>
		<defaultValue></defaultValue>
		<description>
			Which Biometrics engine implementation to should we connect to? Specify a Spring bean name, or leave blank to disable
		</description>
	</globalProperty>
-->

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pix.errorHandler.implementation</property>
		<defaultValue>outgoingmessageexceptions.PixErrorHandlingService</defaultValue>
		<description>
			Specify a Spring bean name of PIX error handler service
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pdq.errorHandler.implementation</property>
		<defaultValue>outgoingmessageexceptions.PdqErrorHandlingService</defaultValue>
		<description>
			Specify a Spring bean name of PDQ error handler service
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pdqEndpoint</property>
		<defaultValue>localhost</defaultValue>
		<description>
			Specifies endpoint for Hl7 PDQ Message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pdqPort</property>
		<defaultValue>3700</defaultValue>
		<description>
			Specifies port for Hl7 PDQ Message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pixEndpoint</property>
		<defaultValue>localhost</defaultValue>
		<description>
			Specifies the endpoint for the Hl7 PIX Message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pixPort</property>
		<defaultValue>3600</defaultValue>
		<description>
			Specifies port for Hl7 PIX Message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.Hl7implementation</property>
		<defaultValue>registrationcore.mpiHl7v2HttpSender</defaultValue>
		<description>
			Specifies which bean should be used to send the Hl7 Message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.sendingApplication</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the sending application in the MSH header section of the HL7 message
		</description>
	</globalProperty>


	<globalProperty>
		<property>${project.parent.artifactId}.mpi.sendingFacility</property>
		<defaultValue></defaultValue>
		<description>
			Specifies sending Facility in the MSH header section of the HL7 message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.receivingApplication</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the receiving application in the MSH header section of the HL7 message
		</description>
	</globalProperty>


	<globalProperty>
		<property>${project.parent.artifactId}.mpi.receivingFacility</property>
		<defaultValue></defaultValue>
		<description>
			Specifies sending Facility in the MSH header section of the HL7 message
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpi.pixIdentifierTypeUuidList</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the list of identifiers to send in a PIX query to save the patient in the MPI. Takes a list of UUID of patient identifier types - separate them with commas.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.openmrsIdenitfier.uuid</property>
		<description>
			UUID of the OpenMRS identifier that will be generated during MPI import unless it is present.
		</description>
		<defaultValue>05a29f94-c0ed-11e2-94be-8c13b969e334</defaultValue>
	</globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		RegistrationEvent.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

