<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.RegistrationCoreActivator</activator>
    <require_modules>

    <require_module version="${idgenVersion}">
        org.openmrs.module.idgen
    </require_module>
        <require_module version="${eventVersion}">
            org.openmrs.event
        </require_module>
    </require_modules>
    
    <aware_of_modules>
       <aware_of_module version="${namephoneticsVersion}">org.openmrs.module.namephonetics</aware_of_module>
	</aware_of_modules>

	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Global properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.identifierSourceId</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the identifier source to use when generating patient identifiers
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.givenNameAutoSuggestList</property>
		<defaultValue></defaultValue>
		<description>
			A comma separated list of common names to auto suggest for the given name field, when registering patients.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.familyNameAutoSuggestList</property>
		<defaultValue></defaultValue>
		<description>
			A comma separated list of common names to auto suggest for the family name field, when registering patients.
		</description>
	</globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.patientNameSearch</property>
        <defaultValue>registrationcore.BasicPatientNameSearch</defaultValue>
        <description>
            Specifies a bean used for the auto suggest name feature.
        </description>
    </globalProperty>
    
    <globalProperty>
        <property>${project.parent.artifactId}.fastSimilarPatientSearchAlgorithm</property>
        <defaultValue>registrationcore.BasicSimilarPatientSearchAlgorithm</defaultValue>
        <description>
            Specifies a bean used for the fast similar patient search algorithm.
        </description>
    </globalProperty>
    
    <globalProperty>
        <property>${project.parent.artifactId}.preciseSimilarPatientSearchAlgorithm</property>
        <defaultValue>registrationcore.BasicExactPatientSearchAlgorithm</defaultValue>
        <description>
            Specifies a bean used for the precise similar patient search algorithm.
        </description>
    </globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.mpiSimilarPatientSearchAlgorithm</property>
		<defaultValue>registrationcore.OpenEmpiSimilarPatientSearchAlgorithm</defaultValue>
		<description>
			Specifies a bean used for the precise similar patient search algorithm.
		</description>
	</globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		RegistrationEvent.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

